---
---

.site-logo {
  border-radius: 50%;
  margin: 3px 12px 12px 0px;
  }

a.site-title {
  font-weight: 600;
}

@import 
  /* "/assets/css/tufte.css", */
  "minima/skins/{{ site.minima.skin | default: 'classic' }}",
  "minima/initialize"; 

body {
  margin-left: auto;
  margin-right: auto;
  font-family: Merriweather Sans, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
  background-color: #fffff8;
  color: #111;
  max-width: 1400px;
  counter-reset: sidenote-counter;
}

h1 {
  font-family: Merriweather;
  font-weight: 400;
  margin-top: 4rem;
  margin-bottom: 1.5rem;
  /* font-size: 3.2rem; */
  font-size: 3rem;
  line-height: 1;
}

h2 {
  font-family: Merriweather;
  /* font-style: italic; */
  font-weight: 400;
  margin-top: 2.1rem;
  margin-bottom: 1.4rem;
  font-size: 2.2rem;
  line-height: 1;
}

h3 {
  font-family: Merriweather;
  /* font-style: italic; */
  /* font-weight: 400; */
  /* font-size: 1.7rem; */
  font-weight: 600;
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 1.4rem;
  line-height: 1;
}

a {
  color: #f55b2c;
  border-bottom: 1px solid #e0e2e1;
  margin-top: -1px;
  padding: 1px 2px;
}

header a{
  border: none;
}

a:hover {
  color: #131313;
  background-color: #fff7a5;
  border-color: #f55b2c;
  text-decoration: none;
  padding: 1px 2px;
}

a:visited {
  color: #ba2e04;
}

/* thumbnail row styling moved */

/* tiling styling https://codepen.io/rajeshuiux/pen/QWLrNmL */

.container  {
  /* max-width:1140px; */
  max-height: 300px;
  margin:0 auto; 
  display:block;
}

.row  {
  display:flex;
  /* align-items:center; */
}

.thumb-box {
  display:flex;
  /* max-width:33.3333%; */
  margin:0 4px;
  position:relative;
  flex: 1;
}

.thumb-box a {
  /* padding: 0; */
  position: relative;
  width: 100%;
  height: 100%;
  border: none;
}

.thumb-box img { 
    height: 200px;
    width: auto;
    /* max-width: fit-content; */
    /* float: left; */
    object-fit: cover;
}

.overlay-box { /*
  position:absolute;
  bottom:0;
  width:90%;
  z-index:9998;
  left:0;
  padding:5%;
  background-image: linear-gradient(to bottom, transparent, rgba(0,0,0,0.75)); */ 
}

.meta {
  font-size:14px;
  display:block;  
}

.main-title {
  font-size:16px;
  display:block;
  font-weight:700;
  text-shadow:0 0 1px rgba(0,0,0,0.5);
}

.thumb-box a:hover .overlay-box {
  background-image: linear-gradient(to bottom, transparent, rgba(0,0,0, 1));
}

/* row summary styling */

.row-block {
  display: flex;
  align-items: stretch; /* Makes items match the same height */
}

.row-text {
  /* flex-basis: 66%; This will take up to 2/3 of the width */
}

.row-thumb {
  display: flex; /* Makes thumbnail match the height of .role-text */
  /* flex-basis: 33%; This will take up to 1/3 of the width */
  flex-basis: fit-content;
  padding: 20px;
}

.row-thumb img {
  /* width: 100%;
  height: 100%; */
  object-fit: cover; /* Helps maintain aspect ratio of the image */
}

/* Alert banner */

#banner {
  /* display: none; */
  /* position: fixed; */
  top: 0;
  width: 100%;
  background: #ea6b67;
  color: #fff;
  padding: 10px 20px;
  box-sizing: border-box;
  display: flex;
    align-items: center;
    justify-content: space-between;
}

.alert-icon {
    float: left;
    margin-right: 15px;
}

.banner-message {
  max-width: 960px;
  margin: 0 10px;
  font-size: 14px;
}

#close-banner {
  float: right;
  margin-top: 0;
  margin-left: 0;
  width: 21px;
  height: 21px;
  position: relative;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  &:before,
  &:after {
    content: '';
    position: absolute;
    top: 8px;
    width: 15px;
    height: 2px;
    left: 0;
  }
  &:before {
    background-color: #fff;
    transform: rotate(-45deg);
  }
  &:after {
    background-color: #fff;
    transform: rotate(45deg);}
}

.alert-info {
  margin: 0 10px 0 0;
  text-transform: uppercase;
  font-weight: lighter;
}

.alert-update {
  font-family: monospace;
  color: #ffe124;
}

/* alerts */

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,400i,600,700');
//Color-palette
$black: #66615B;
$white: #fff;
$blue: #29d2e4;

// Alerts
@mixin alert-variant($alert-vertical-padding,
$alert-horizontal-padding,
$background,
$border-color,
$text-color) {
  background-color: $background;
  border: 1px solid $border-color;
  color: $text-color;
  padding: $alert-vertical-padding $alert-horizontal-padding;
  .alert-icon {
    float: left;
    margin-right: 15px;
  }

  .alert-container {
    position: relative;
    max-width: 960px;
    margin: 0 auto;
  }
  .close-icon {
    float: right;
    color: #000;
    margin-top: 0;
    margin-left: 0;
    width: 21px;
    height: 21px;
    position: relative;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    text-indent: -999px;
    overflow: hidden;
    white-space: nowrap;
    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 8px;
      width: 15px;
      height: 2px;
      left: 0;
    }
    &:before {
      background-color: #fff;
      transform: rotate(-45deg);
    }
    &:after {
      background-color: #fff;
      transform: rotate(45deg);
    }
  }
}

.alert {
  @include alert-variant(15px,
  20px,
  $blue,
  $blue,
  #fff);
  &.alert-custom {
    @include alert-variant(null,null,$black,$black,null);
  }
}