/* thumbnail row tiling */

.thumbnails {
  height: 200px; /* row height */
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
}

.thumbnails a {
  text-decoration: none;
}

.thumbnails a:hover {

}

.thumbnail-overlay {

}

.thumbnail-item {
  height: 100%; /* image height */
  flex-grow: 1;
  text-align: center; /* Center the title under the image */
  background-color: gray;
}

.thumbnail-item img {
  height: 80%;
  width: auto; /* Preserve aspect ratio */
  margin-bottom: 8px;
  object-fit: contain; /* Ensure the image scales properly */
}

.thumbnail-item p {
  height: 20%;
  width: inherit;
}
