<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body class="sans">

    {%- include banner.html message=site.data.banner.message date=site.data.banner.date -%}

    {%- include header.html -%}

    <article class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </article>

    {%- include footer.html -%}
    
    <script>
      document.getElementById('close-banner').addEventListener('click', function() {
      document.getElementById('banner').style.display = 'none';});
    </script>

  </body>

</html>
