---
layout: tufte
---

<h1>{{ page.title }}</h1>
<em>{{ page.tagline }}</em>
<h3>{{ page.position }}</h3>
<p>{{ page.dateshow }} | <em>{{ page.location }}</em></p>
{%- include tags.md -%}

<hr>

<label for="mn-fig0" class="margin-toggle">&#8853;</label>
  <input type="checkbox" id="mn-fig0" class="margin-toggle"/>
  <span class="marginnote">
  <img src="{{ page.logo | default: '/assets/images/eric_viki.png' }}" alt="{{ page.title }} logo">
  {{ page.tagline }}
</span>

{{ content }}

<hr>

<h2>{{ page.company }} projects</h2>
<ul>
  {% assign role_project = site.projects | where: 'company', page.company %}
  {% for project in role_project %}
    <li><h3><a href="{{ project.url }}">{{ project.title }}</a></h3>
      Context: {{ project.context | markdownify }}
      Impact: {{ project.impact }}
    </li>
  {% endfor %}
</ul>

<h2>Talks at {{ page.company }}</h2>
<ul>
  {% assign role_talk = site.talks | where: 'company', page.company %}
  {% for talk in role_talk %}
    <li><h3><a href="{{ project.url }}">{{ talk.title }}</a></h3>
      Context: {{ talk.context | markdownify }}
    </li>
  {% endfor %}
</ul>
