---
layout: tufte
---

<h1>{{ page.title }}</h1>
<em>{{ page.tagline }}</em>
<h3>{{ page.position }}</h3>
<p><em>{{ page.dateshow }}</em> | <span class="notes">{{ page.location }}</span></p>
{%- include tags.md -%}

<hr>

<p>
  <label for="mn-fig0" class="margin-toggle">&#8853;</label>
    <input type="checkbox" id="mn-fig0" class="margin-toggle"/>
    <span class="marginnote">
    <img src="{{ page.logo | default: '/assets/images/eric_viki.png' }}" alt="{{ page.title }} logo">
    {{ page.tagline }}
  </span>
</p>

{{ content }}

<hr>

{% assign role_items = site.projects | concat: site.talks | concat: site.posts | where: 'company', page.company | sort: 'date' | reverse %}

{% if role_items.size > 0 %}
  <h2>{{ page.company }} posts</h2>
{% endif %}

{% for item in role_items %}
  <h4><a href="{{ item.url }}">{{ item.title }}</a></h4>
  <label for="mn-{{ forloop.index }}" class="margin-toggle">&#8853;</label>
      <input type="checkbox" id="mn-{{ forloop.index }}" class="margin-toggle"/>
      <span class="marginnote">
      <img src="{{ item.thumbnail | default: '/assets/images/eric_viki.png' }}" alt="{{ item.company }}">
  </span>
  <div class="post-meta">{{ item.collection | capitalize }} | {{ item.date | date: "%Y %b %d"}}</div>
  <div class="excerpts">
    <div class="row-text">
      {% if item.collection == 'projects' %}
        <p><strong>Context:</strong> {{ item.context }}<br/>
        <strong>Impact:</strong> {{ item.impact }}</p>
      {% elsif item.collection == 'talks' %}
        <p>{{ item.context }}</p>
      {% elsif item.collection == 'posts' %}
        <p>{{ item.excerpt }}</p>
      {% endif %}
    </div>
  </div>
{% endfor %}
